# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Configuración sensible
.env
settings.py

# Logs
*.log

# VS Code
.vscode/

# JetBrains
.idea/

# Linux
*~
.DS_Store

# Frontend React
frontendasciiart/node_modules/
frontendasciiart/build/
frontendasciiart/dist/

# Dependencias JS
npm-debug.log*
yarn-debug.log*
yarn-error.log*
